In [2]:
basic_salary = float(input("Enter Ramesh's basic salary: "))

dearness_allowance = 0.4 * basic_salary
house_rent_allowance = 0.2 * basic_salary

gross_salary = basic_salary + dearness_allowance + house_rent_allowance

print("Ramesh's gross salary is:", gross_salary)

Enter Ramesh's basic salary: 5000
Ramesh's gross salary is: 8000.0

In [1]:
t1=[1,2,3,4,5]
print(t1,type(t1))

[1, 2, 3, 4, 5] <class 'list'>

In [2]:
x=tuple(t1)
print(x,type(x))

(1, 2, 3, 4, 5) <class 'tuple'>

The distance between two cities (in km.) is input through the keyboard. Write a program
to convert and print this distance in meters, feet, inches and centimeters.

In [5]:
t2=(1,2,3,4,5)
print(t2,type(t2))

(1, 2, 3, 4, 5) <class 'tuple'>

In [6]:
x=list(t2)
print(x,type(x))

[1, 2, 3, 4, 5] <class 'list'>

In [4]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_2',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'open',
 'quit']

In [2]:
# Write a Python program to sum all the items in a list.

def sum():
    
    list1=[1,2,3,4,5]
sum()